<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Résultat segementation suit</title>
<!--    <link rel="stylesheet" href="/home/dieudonnem/hpc/soft/anaconda3/envs/py37/lib/python3.7/site-packages/jinja2/static/css/blueprint/screen.css" type="text/css" media="screen, projection">-->
<!--    <link rel="stylesheet" href="/home/dieudonnem/hpc/soft/anaconda3/envs/py37/lib/python3.7/site-packages/jinja2/static/css/blueprint/print.css" type="text/css" media="print">-->
<!--    <link rel="stylesheet" href="/home/dieudonnem/hpc/soft/anaconda3/envs/py37/lib/python3.7/site-packages/jinja2/static/css/blueprint/ie.css" type="text/css" media="screen, projection">-->

    <link rel="stylesheet" href="static/css/blueprint/screen.css" type="text/css" media="screen, projection">
    <link rel="stylesheet" href="static/css/blueprint/print.css" type="text/css" media="print">
    <link rel="stylesheet" href="static/css/blueprint/ie.css" type="text/css" media="screen, projection">


</head>
<body>
    <p>Résultat segmentation suit </p>
    <p>nom de l'imgae : {{img_name}}</p>    <!--img_name-->
    <p> caractéristique de l'image : </p>
    <div> {{carac}}</div>

</body>
</html>
